<!--<div class="container">
	<div class="owl-carousel owl-carousel6-brands">
	  <a href="http://saotienphong.com.vn"><img src="images/stp.png" style="height:72px;padding-top:32px" alt="Sao Tiên Phong" title="Sao Tiên Phong"></a>
	  <a href="index.php"><img src="assets/frontend/pages/img/brands/esprit.jpg" alt="esprit" title="esprit"></a>
	  <a href="index.php"><img src="assets/frontend/pages/img/brands/gap.jpg" alt="gap" title="gap"></a>
	  <a href="index.php"><img src="assets/frontend/pages/img/brands/next.jpg" alt="next" title="next"></a>
	  <a href="index.php"><img src="assets/frontend/pages/img/brands/puma.jpg" alt="puma" title="puma"></a>
	  <a href="index.php"><img src="assets/frontend/pages/img/brands/zara.jpg" alt="zara" title="zara"></a>
	  <a href="index.php"><img src="assets/frontend/pages/img/brands/canon.jpg" alt="canon" title="canon"></a>
	  <a href="index.php"><img src="assets/frontend/pages/img/brands/esprit.jpg" alt="esprit" title="esprit"></a>
	  <a href="index.php"><img src="assets/frontend/pages/img/brands/gap.jpg" alt="gap" title="gap"></a>
	  <a href="index.php"><img src="assets/frontend/pages/img/brands/next.jpg" alt="next" title="next"></a>
	  <a href="index.php"><img src="assets/frontend/pages/img/brands/puma.jpg" alt="puma" title="puma"></a>
	  <a href="index.php"><img src="assets/frontend/pages/img/brands/zara.jpg" alt="zara" title="zara"></a>
	</div>
</div>-->