<div class="dialog-contents" style="background-color:white!important;padding:10px!important">
            <div class="product-page product-pop-up">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-3">
                  
                    <img  ng-src="{{server_url}}{{picture?picture:product.picture}}" alt="{{product.ten_vt}}" class="img-responsive">
                 
                  <!--<div class="product-other-images">
					
					<a ng-if="product.picture2 || product.picture3 || product.picture4 || product.picture5" ng-click="picture=product.picture" ng-class="!picture || picture==product.picture?'active':''"><img alt='{{product.ten_vt}}}' ng-src="{{server_url + product.picture_thumb}}"></a>
			
					<a ng-if="product.picture2" ng-click="picture=product.picture2" ng-class="picture==product.picture2?'active':''"><img alt='{{product.ten_vt}}' ng-src="{{server_url + product.picture2_thumb}}"></a>
					<a ng-if="product.picture3" ng-click="picture=product.picture3" ng-class="picture==product.picture3?'active':''"><img alt='{{product.ten_vt}}' ng-src="{{server_url + product.picture3_thumb}}"></a>
					<a ng-if="product.picture4" ng-click="picture=product.picture4" ng-class="picture==product.picture4?'active':''"><img alt='{{product.ten_vt}}' ng-src="{{server_url + product.picture4_thumb}}"></a>
			
					<a ng-if="product.picture5" ng-click="picture=product.picture5" ng-class="picture==product.picture5?'active':''"><img alt='{{product.ten_vt}}' ng-src="{{server_url + product.picture5_thumb}}"></a>
			
                  </div>
				  -->
                </div>
                <div class="col-md-6 col-sm-6 col-xs-9">
                  <h2>{{product.ten_vt}}</h2>
                  <div class="price-availability-block clearfix">
                    <div class="price">
                      <strong>{{product.gia_ban_thuc|number:0}}<span>đ</span></strong>
					  <em ng-if="product.gia_ban_le!=product.gia_ban_thuc"><span>{{product['gia_ban_le']|number:0}}đ</span></em>
                    </div>
                    <div class="availability">
                      Tình trạng: <strong>{{product.ten_tinh_trang}}</strong>
                    </div>
                  </div>
				  <div class="description" ng-if="product.khuyen_mai">
                    <p parse-html ="product.khuyen_mai"></p>
                  </div>
                  <div class="description" ng-if="product.mieu_ta">
                    <p parse-html="product.mieu_ta"></p>
                  </div>
                  <div >
						<a class="btn btn-primary" ng-click="cart.add2cart(product._id,1)">Đặt mua</a>
						<a href="sp-{{product._id}}-{{product.ten_vt}}.html" class="btn btn-default">Chi tiết</a>
                  </div>
                </div>
				<div class='sticker sticker-sale' ng-if ="product.gia_ban_le!=product.gia_ban_thuc"></div>
                <div class='sticker sticker-new' ng-if="product.sp_moi"></div>
              </div>
            </div>
    </div>