<div class="ls-slide ls-slide2" data-ls="offsetxin: right; slidedelay: 4000; transition2d: 110,111,112,113;" >

  <img src="<?php echo $server_url_host.$product_two['picture'] ?>" class="ls-bg" alt="<?php echo $product_two['ten_vt'] ?>">
  
  <div class="ls-l ls-title" style="top: 40%; left: 21%; white-space: nowrap;" data-ls="
  fade: true; 
  fadeout: true;  
  durationin: 750; durationout: 109750; 
  easingin: easeOutQuint; 
  easingout: easeInOutQuint; 
  delayin: 0; 
  delayout: 0; 
  rotatein: 90; 
  rotateout: -90; 
  scalein: .5; 
  scaleout: .5; 
  showuntil: 4000;
  "><a href="sp-<?php echo $product_two['_id'].'-'.$product_two['ten_vt']  ?>.html" style="text-decoration:none"><?php echo $product_two['ten_vt'] ?></a>
	
 </div>
 
  <a href="sp-<?php echo $product_two['_id'].'-'.$product_two['ten_vt']  ?>.html" class="ls-l ls-more" style="top: 72%; left: 21%; display: inline-block; white-space: nowrap;" data-ls="
  fade: true; 
  fadeout: true; 
  durationin: 750; 
  durationout: 750; 
  easingin: easeOutQuint; 
  easingout: easeInOutQuint; 
  delayin: 0; 
  delayout: 0; 
  rotatein: 90; 
  rotateout: -90; 
  scalein: .5; 
  scaleout: .5; 
  showuntil: 4000;">xem chi tiết
  </a>
</div>