<div class="steps-block steps-block-red">
      <div class="container">
        <div class="row">
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-truck"></i>
            <div>
              <h2>Vận chuyển</h2>
              <em>Vận chuyển nhanh trong vòng 3 ngày</em>
            </div>
            <span>&nbsp;</span>
          </div>
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-gift"></i>
            <div>
              <h2>Quà tặng</h2>
              <em>3 phần quà hàng ngày cho những khách hàng may mắn</em>
            </div>
            <span>&nbsp;</span>
          </div>
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-phone"></i>
            <div>
              <h2>{{app.phone}}</h2>
              <em>Hỗ trợ khách hàng 24/7</em>
            </div>
          </div>
        </div>
      </div>
    </div>